@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
	--yellow: #f8b435;
	--gray: #e7e4d5;
	--font-poppins: "Poppins", sans-serif;
	--paragraph-mb: clamp(0.8rem, 1.042vw, 1.042vw);
	--spacing-cards: clamp(1rem, 1.042vw, 1.042vw);
}

@theme {
	--color-yellow: var(--yellow);
	--color-gray: var(--gray);
	--spacing-2: var(--spacing-cards);
}

html,
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	width: 100%;
}

body {
	background: var(--background);
	color: var(--foreground);
	/* font-family: var(--font-poppins); */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

body:has(> main.homepage):before {
	content: "";
	background-image: url("../public/grain.png");
	height: 200%;
	width: 200%;
	position: fixed;
	opacity: 0.1;
	animation: animateGrain 8s steps(5) infinite;
	z-index: 0;
	pointer-events: none;
}

main {
}

section > * {
	z-index: 1;
}

@keyframes animateGrain {
	0%,
	100% {
		transform: translate(0, 0);
	}
	10% {
		transform: translate(-5%, -10%);
	}
	20% {
		transform: translate(-15%, -20%);
	}
	30% {
		transform: translate(-5%, -10%);
	}
	40% {
		transform: translate(-15%, -20%);
	}

	50% {
		transform: translate(-5%, -10%);
	}
	60% {
		transform: translate(-15%, -20%);
	}
	70% {
		transform: translate(-5%, -10%);
	}
	80% {
		transform: translate(-15%, -20%);
	}
	90% {
		transform: translate(-5%, -10%);
	}
	100% {
		transform: translate(-15%, -20%);
	}
}

h2 {
	@apply leading-normal font-bold text-[2.604vw] mb-(--paragraph-mb);
}

p {
	@apply leading-normal font-medium text-[1.042vw] mb-(--paragraph-mb);
}
