@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
	--yellow: #f8b435;
	--orange: #ff8c00;
	--gray: #e7e4d5;
	--font-poppins: "Poppins", sans-serif;
	--paragraph-mb: clamp(0.8rem, 1.042vw, 1.042vw);
	--spacing-cards: clamp(1rem, 1.042vw, 1.042vw);
}

@theme {
	--color-yellow: var(--yellow);
	--color-orange: var(--orange);
	--color-gray: var(--gray);
	--spacing-2: var(--spacing-cards);
}

html,
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	width: 100%;
}

body {
	background: var(--background);
	color: var(--foreground);
}

section {
	position: relative;
	overflow: hidden;
}

/* Background Grained Effect */
section[data-section="home-hero"]:before,
section[data-section="decision"]:before,
section[data-section="services-hero"]:before {
	content: "";
	background-image: url("../public/general/grain.png");
	height: 200%;
	width: 200%;
	position: absolute;
	opacity: 0.1;
	animation: animateGrain 8s steps(5) infinite;
	z-index: 1;
	pointer-events: none;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

section > * {
	position: relative;
	z-index: 5;
}

@keyframes animateGrain {
	0%,
	100% {
		transform: translate(0, 0);
	}
	10% {
		transform: translate(-5%, -10%);
	}
	20% {
		transform: translate(-15%, -20%);
	}
	30% {
		transform: translate(-5%, -10%);
	}
	40% {
		transform: translate(-15%, -20%);
	}

	50% {
		transform: translate(-5%, -10%);
	}
	60% {
		transform: translate(-15%, -20%);
	}
	70% {
		transform: translate(-5%, -10%);
	}
	80% {
		transform: translate(-15%, -20%);
	}
	90% {
		transform: translate(-5%, -10%);
	}
	100% {
		transform: translate(-15%, -20%);
	}
}

h1,
h1 * {
	font-size: clamp(56px, 3.91vw, 3.91vw) !important;
	line-height: 1.2 !important;
	margin-bottom: clamp(1.2rem, 3.13vw, 3.13vw);
	font-weight: 800 !important;
}

h2,
h2 * {
	@apply font-bold! mb-(--paragraph-mb);
	font-size: clamp(30px, 2.604vw, 2.604vw) !important;
}

p,
a,
span,
li,
ul ol {
	@apply leading-normal font-medium;
	font-size: clamp(1rem, 1.25vw, 1.25vw);
	margin-bottom: clamp(1rem, 1.67vw, 1.67vw);
}

.font-size-16 {
	font-size: clamp(0.75rem, 0.83vw, 0.83vw);
}

.font-size-18 {
	font-size: clamp(1rem, 0.94vw, 0.94vw);
}

.font-size-36 {
	font-size: clamp(1.4rem, 1.88vw, 1.88vw);
}

.font-size-56 {
	font-size: clamp(2.4rem, 2.92vw, 2.92vw);
}

.blur-text > span {
	margin-bottom: 0 !important;
}

/* General */
.cardTags {
	position: absolute;
	font-size: clamp(1rem, 1.25vw, 1.25vw);
	line-height: 1;
	font-weight: 700;
	color: white !important;
	margin: 0 auto;
	left: 0;
	right: 0;
	bottom: 3.2%;
}

/*  */
/* .hero-section {
	background: radial-gradient(circle at center 65%, #ffeb9e 0%, #f5c45c 25%, #d18f2e 45%, #4a2e7a 70%, #1e1b4b 85%, #0f0c2e 100%);
} */
section[data-section="home-hero"] {
	background: url(../public/page-background/creations-bakcground-image.jpg) center center no-repeat;
	background-size: cover;
}

section[data-section="philosophy-hero"] {
	background: url(../public/philosophy/bg-image.webp) center center no-repeat;
	background-size: cover;
	background-position: 50% 65%;
}

/* Card Feed Holder  */
.CardFeedHolder h3 {
	font-size: clamp(1.65rem, 2.4vw, 2.4vw) !important;
	line-height: 1.3;
	font-weight: 700;
	margin-bottom: 0;
	color: white;
}

.CardFeedHolder span {
	order: 0 !important;
}

/* Letter Positions */
.CardFeedHolder.title-pos-top h3 {
	order: 1;
}

.CardFeedHolder.title-pos-top p:nth-child(3) {
	order: 2;
}

.CardFeedHolder.title-pos-top p:nth-child(4) {
	order: 3;
}

/* Letter Positions */
.CardFeedHolder.title-pos-middle h3 {
	order: 2;
}

.CardFeedHolder.title-pos-middle p:nth-child(3) {
	order: 1;
}

.CardFeedHolder.title-pos-middle p:nth-child(4) {
	order: 3;
}

/* Letter Positions */
.CardFeedHolder.title-pos-bottom h3 {
	order: 3;
}

.CardFeedHolder.title-pos-bottom p:nth-child(3) {
	order: 1;
}

.CardFeedHolder.title-pos-bottom p:nth-child(4) {
	order: 2;
}

.CardFeedHolder p,
.CardFeedHolder span {
	font-size: clamp(1rem, 1.88vw, 1.88vw) !important;
	line-height: 1.3;
	font-weight: 700;
	margin-bottom: 0;
	color: white;
}

.CardFeedHolder span {
	margin-bottom: clamp(1.2rem, 2.86vw, 2.86vw);
}


/* Services Page */
/* main.services-page {
	background: url(../public/page-background/services-background-image.webp) center -50% no-repeat var(--yellow);
	background-size: 115%;
} */

/* Creations Page */
main.creations-page {
	background: url(../public//page-background/creations-bakcground-image.jpg) center center no-repeat;
	background-size: cover;
}

section[data-section="portfolio-hero-section"] h1,
section[data-section="portfolio-hero-section"] h1 * {
	font-size: clamp(33px, 5.21vw, 5.21vw) !important;
}

/* Our World Page */
main.our-world-page {
	background: url(../public/general/hoodle-purple-bg.svg) center center no-repeat;
	background-size: cover;
}

/* Graidents */
section[data-section="decision"] span[data-background="top"],
section[data-section="decision"] span[data-background="bottom"] {
	pointer-events: none;
	z-index: 0;
	filter: blur(60px);
}

section[data-section="decision"] span[data-background="top"] {
	background: radial-gradient(#f0c16a 0%, #d0a06d 30%, #665679 74%, transparent 100%);
	margin: auto;
}

section[data-section="decision"] span[data-background="bottom"] {
	background: radial-gradient(#fcf390 0%, #fcf390 30%, #59486f 64%, transparent 100%);
	margin: auto;
}

section[data-section="decision"] p,
section[data-section="decision"] a {
	font-size: clamp(1rem, 1.25vw, 1.25vw) !important;
}

/* Burger Menu */
.burgerMenuIcon {
	aspect-ratio: 41/7;
	object-fit: contain;
}

.burgerMenuOverlayHolder {
	@apply fixed inset-0 md:min-w-115 w-full md:w-1/2 h-full bg-yellow ml-auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: clamp(1rem, 4.69vw, 4.69vw);
	transition:
		background-color 0.4s ease,
		background-image 0.4s ease;
}

.burgerMenuOverlayHolder .burgerMenuLinksHolder {
	@apply flex flex-col w-full;
}

.burgermenuLogo {
	@apply h-auto w-[9.11vw] min-w-25 object-contain aspect-175/51 !m-0;
}

.burgerMenuTopHodler {
	position: fixed;
	padding-top: clamp(2rem, 2.6vw, 2.6vw);
	padding-left: clamp(1rem, 4.69vw, 4.69vw);
	padding-right: clamp(1rem, 4.69vw, 4.69vw);
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	z-index: 9999;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
}

.burgerMenuOverlayHolder a {
	font-size: clamp(1.4rem, 2.4vw, 2.4vw);
	padding: clamp(0.85rem, 2.08vw, 2.08vw) 0;
	line-height: 1;
	font-weight: 700;
	margin: 0;
}

.burger-animate-in {
	animation: burgerAnimateIn 0.5s ease-in-out forwards;
}

.burger-animate-out {
	animation: burgerAnimateOut 0.5s ease-in-out forwards;
}

@keyframes burgerAnimateOut {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-100%);
	}
}

@keyframes burgerAnimateIn {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0%);
	}
}

.burger-x-animate-in {
	animation: cubic-bezier(1, 0, 0, 1) 0.5s forwards BurgerXAnimateIn;
}

.burger-x-animate-out {
	animation: cubic-bezier(1, 0, 0, 1) 0.5s forwards BurgerXAnimateOut;
}

@keyframes BurgerXAnimateIn {
	0% {
		transform: translate(110%, 0%);
	}
	100% {
		transform: translate(0%, 0%);
	}
}

@keyframes BurgerXAnimateOut {
	0% {
		transform: translate(0%, 0%);
	}
	100% {
		transform: translate(-110%, 0%);
	}
}

/* Footer */
footer > div:first-child * {
	font-size: clamp(1rem, 0.83vw, 0.83vw);
	margin: 0;
}

footer > div:first-child > div * {
	font-weight: 700;
}

/* Grid Container */
.grid-image-container {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(6, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	gap: clamp(0.65rem, 0.63vw, 0.63vw);
	scale: 1.2;
	transform-origin: top center;
}

.grid-image-container > div {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.grid-image-container > div img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.grid-image-container > div:nth-child(1) {
	grid-area: 1 / 1 / 3 / 5;
}
.grid-image-container > div:nth-child(2) {
	grid-area: 3 / 1 / 5 / 5;
}
.grid-image-container > div:nth-child(3) {
	grid-area: 5 / 1 / 7 / 5;
}
.grid-image-container > div:nth-child(4) {
	grid-area: 1 / 5 / 4 / 8;
}
.grid-image-container > div:nth-child(5) {
	grid-area: 1 / 8 / 4 / 11;
}
.grid-image-container > div:nth-child(6) {
	grid-area: 4 / 5 / 7 / 11;
}

/* Form */
form input[type="text"],
form input[type="email"],
form input[type="tel"] {
	border: 1px solid black;
	padding: clamp(0.75rem, 2%, 2%) clamp(1rem, 5%, 5%);
	border-radius: clamp(0.55rem, 0.533vw, 0.533vw);
	margin-bottom: clamp(1rem, 1.56vw, 1.56vw);
}

form p,
form label,
form input,
form label > *,
form .error-text {
	font-size: clamp(0.85rem, 0.833vw, 0.833vw) !important;
}

form .error-text {
	font-size: clamp(0.65rem, 0.633vw, 0.633vw) !important;
}

form *:has(+ .error-text) {
	margin-bottom: 1.2rem !important;
}

form h2,
form h2 > * {
	font-size: clamp(36px, 2.604vw, 2.604vw) !important;
}

form button[type="submit"] {
	font-size: clamp(1rem, 1.04vw, 1.04vw) !important;
	padding: clamp(0.85rem, 0.833vw, 0.833vw) clamp(1.25rem, 1.67vw, 1.67vw) !important;
}

div[data-container="success-container"] p {
	font-size: clamp(1rem, 1.04vw, 1.04vw) !important;
}

.philosophy-video {
	--controls: none;
}

.single-video-section {
	--controls: "none";
	--media-object-fit: "cover";
	--media-object-position: "center";
	width: "100%";
	height: "100%";
}

/* Global */
.text-fade-up {
	opacity: 0;
	transform: translateY(1rem);
	transition:
		opacity 0.6s ease-out,
		transform 0.6s ease-out;
}

.text-fade-up.active {
	opacity: 1;
	transform: translateY(0);
}

.split-line-mask,
.split-line {
	margin-bottom: 0 !important;
}

/* Philosophy Button */
.philosophy-button {
	padding: clamp(1rem, 0.833vw, 0.833vw) clamp(1.25rem, 1.67vw, 1.67vw);
	padding-right: clamp(1.2rem, 2.67vw, 2.67vw);
}

/* Media Queries */
@media (max-width: 1024px) {
	h1,
	h1 * {
		font-size: 42px !important;
	}
}

@media (max-width: 767px) {
	h1,
	h1 * {
		font-size: 30px !important;
	}
}

@media (max-width: 565px) {
	section[data-section="decision"] p,
	section[data-section="decision"] a {
		font-size: 0.8rem !important;
	}

	form h2,
	form h2 > * {
		font-size: 28px !important;
	}
}

@media (max-width: 480px) {
	.CardFeedHolder h3 {
		font-size: 1rem !important;
		line-height: 1;
		font-weight: 700;
		margin-bottom: 0;
		color: white;
	}

	.CardFeedHolder p,
	.CardFeedHolder span {
		font-size: 0.8rem !important;
	}
	
	.CardFeedHolder p {
		margin-bottom: 0 !important;
	}
	
	.CardFeedHolder span {
		margin-bottom: 1rem !important;
	}
}
