@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
	--yellow: #f8b435;
	--gray: #e7e4d5;
	--font-poppins: "Poppins", sans-serif;
	--paragraph-mb: clamp(0.8rem, 1.042vw, 1.042vw);
	--spacing-cards: clamp(1rem, 1.042vw, 1.042vw);
	
}

@theme {
	--color-yellow: var(--yellow);
	--color-gray: var(--gray);
	--spacing-2: var(--spacing-cards);
}

html,
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	width: 100%;
}

body {
	background: var(--background);
	color: var(--foreground);
	/* font-family: var(--font-poppins); */
}

p {
	@apply leading-normal font-medium text-[1.042vw] mb-(--paragraph-mb);
}
